  /* Estilos generales */
  body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EEE9D3;
  }
  .logo-container{
    display: flex;
    align-items: center;
  }

  .logo {
    max-width: 100px; /* Ajusta este valor según tus necesidades */
    height: auto; /* Mantendrá la proporción de la imagen */
  }

  .foto{
    max-width: 400px;
    height: auto;
  }

  /* Encabezado */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3DBABE;
    color: white;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  .ods{
    background-color: #009E9D;
  }
  .ods a{
    color: white;
  }

  /* Sección principal */
  main {
    padding: 30px;
  }
  
  /* Secciones */
  section {
    margin-bottom: 35px;
  }
  
  h1, h2, h3 {
    color: #6CB444;
  }
  
  p {
    color: #085567;
    margin-bottom: 25px;
  }
  footer p {
    color: white;
  }
  
  /* Botones (ejemplo) */
  button {
    background-color: #009E9D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Pie de página */
  footer {
    background-color: #3DBABE;
    color: white;
    text-align: center;
    padding: 20px;
  }
  footer a {
    text-decoration: none;
    color: white;
  }
  footer ul{
    list-style: none;
  }
  details {
    border: 1px solid #ddd;
    border-left: 5px solid #4CAF50; /* Color del borde a la izquierda */
    padding: 0.5em;
  }
  summary {
    font-weight: bold;
    cursor: pointer;
  }
  
  details[open] summary {
    border-bottom: 1px solid #ddd;
  }
  
  details[open] {
    padding: 0.5em;
  }